<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapepr 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxddongxx.calendar.mapper.CalendarMapper">
    <insert id="insertCalendar" parameterType="Calendar">
        /* insertCalendar */
        INSERT INTO calendar (
            title
            , is_important
            , location
            , is_lunar
            , start_at
            , end_at
            , is_all_day
            , is_repeat
            , repeat_type
            , is_private
            , color
            , description
            , user_id
            , created_at
        )
        VALUES (
            #{title}
            , #{isImportant}
            , #{location}
            , #{isLunar}
            , #{startAt}
            , #{endAt}
            , #{isAllDay}
            , #{isRepeat}
            , #{repeatType}
            , #{isPrivate}
            , #{color}
            , #{description}
            , #{userId}
            , NOW()
        )
    </insert>
    <select id="findById" parameterType="java.lang.Long" resultType="Calendar">
        /* findCalendarOne */
        SELECT
            *
        FROM calendar
        WHERE
            id = #{value}
    </select>
    <update id="updateCalendar" parameterType="Calendar">
        /* updateCalendar */
        UPDATE calendar SET
            title = #{title}
            , start_at = #{startAt}
            , end_at = #{endAt}
            , updated_at = NOW()
            <if test="isImportant != null">
                , is_important = #{isImportant}
            </if>
            <if test="location != null">
                , location = #{location}
            </if>
            <if test="isLunar">
                , is_lunar = #{isLunar}
            </if>
            <if test="isAllDay">
                , is_all_day = #{isAllDay}
            </if>
            <if test="isRepeat">
                , is_repeat = #{isRepeat}
            </if>
            <if test="repeatType">
                , repeat_type = #{repeatType}
            </if>
            <if test="isPrivate">
                , is_private = #{isPrivate}
            </if>
            <if test="color">
                , color = #{color}
            </if>
            <if test="description">
                , description = #{description}
            </if>
        WHERE
            id = #{id}
    </update>
    <delete id="deleteCalendar" parameterType="java.lang.Long">
        /* deleteCalendar */
        DELETE FROM calendar WHERE id = #{value};
    </delete>
    <select id="findCalendarByDay" parameterType="Map" resultType="Calendar">
        /* findCalendarByDay */
        SELECT
            *
        FROM calendar
        WHERE
            user_id = #{userId}
            AND DATE_FORMAT(start_at, '%Y-%m-%d') = #{date}
    </select>
    <select id="findCalendarByMonth" parameterType="Map" resultType="Calendar">
        /* findCalendarByDay */
        SELECT
            *
        FROM calendar
        WHERE
            user_id = #{userId}
            AND DATE_FORMAT(start_at, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
    </select>
</mapper>